       <div class=" body">
    <div class='e'>
        <p>Gmail Images <img src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRHra81npHMZSxBmYUbohCgxD2tCSH3re2xW23ViLqA26NBeHOl5w' width='25' height='20' /> sign in </p>
    </div>
    <img src='http://www.google.com/logos/doodles/2015/googles-new-logo-5078286822539264.3-hp2x.gif' width='304' height='171' />
    <br>
    <input class='a' type='text' name='search' id='Serchname' value='' size='70' />
    <h3> <a class='d' href='www.google.com'>Google Search</a><a class='c' href='www.google.com'>iam feeling lucky</a></h3>
    
    <div>
        <br><br>
        <h5><a href='www.google.com'> Live! Watch #WomenwillToday and join the movement to erase the gender gap</a></h5>
        <h5><a href='ww.google.com'>Google.co.in offered in: हिन्दी |বাংলা| తెలుగు |मराठी| தமிழ்|ગુજરાતી| ಕನ್ನಡ| മലയാളം| ਪੰਜਾਬੀ</a></h5>
    </div>
    </div>